/*Make this ball jump up and down. It should go from top 0px to top 100px.
One animation cycle should take half of the second, animation should be infinite. Name your keyframe jump*/
.box {
  background-color: #0799d3;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 0px;
  position: relative;
  animation-name: jump;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes jump{
    from{
        top: 0px
    }
    to{
        top: 100px;
    }
}